:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --bcg-black: #111111;
    --bcg-black-main: #202024;
    --bcg-white: #FFFFFF;
    --bcg-white-main: #F6F6F6;
    --brand-color-lilla: #4F2EE8;
    --brand-color-yellow: #EAC645;
    --color-gray: #B4AFAF;
    --color-filter-light: #11111199;
    --color-filter-dark:  #FFFFFF99;





  }