<section class="section section-book-category">
  <div class="container">
    <h1 class="main-category-text">
      Best Sellers <span class="main-category-secondary-text">Books</span>
    </h1>
    <ul class="book-category-lists">
      <ul class="book-category-list">
        <p class="book-category-list-category-text">Category</p>
        <li class="book-ctegory-list-card">
          <div class="book-category-hover-effect-container">
            <img class="book-category-list-img" src="#" alt="#" />
            <p class="book-category-hover-effect">QUICK VIEW</p>
          </div>
          <h3 class="book-category-list-category-book-name">Book name</h3>
          <p class="book-category-list-book-author">Book author</p>
        </li>
      </ul>
    </ul>
    <div class="button-container">
      <button class="book-category-btn" type="submit">SEE MORE</button>
    </div>
  </div>
</section>
