<section class="filter-section">
    <div class="container">
        <div class="filter-container">
            <div class="filter-title">
                <h2 class="filter-title-text"> <a class="filter-link"> All categories</a></h2>
                <div class="filter-list-container">
                    <ul class="filter-list">

                        <li class="filter-list-item"><a href="" class="category-filter-link">Combined Print and E-book
                                Fiction</a></li>
                        <li class="filter-list-item"><a href="" class="category-filter-link">Combined Print & E-book
                                Nonfiction</a></li>
                        <li class="filter-list-item"><a href="" class="category-filter-link">Hardcover fiction</a></li>
                        <li class="filter-list-item"><a href="" class="category-filter-link">Hardcover nonfiction</a></li>
                        <li class="filter-list-item"><a href="" class="category-filter-link">Paperback trade fiction</a></li>

                        <li class="filter-list-item"><a href="" class="category-filter-link">Paperback nonfiction</a></li>

                        <li class="filter-list-item"><a href="" class="category-filter-link">Children’s middle grade
                                hardcover</a></li>






                    </ul>


                </div>
            </div>
        </div>


    </div>


</section>