<section class="filter-section">
    <div class="container">
        <div class="filter-menu">
            <div class="filter-title">
                <h2 class="filter-title-text">All categories</h2>
                <div class="filter-list-container">
                    <ul class="filter-list">
                        <li class="filter-list-item"><a href=""></a></li>
                        
                    </ul>

                </div>
            </div>
        </div>

    </div>

</section>