  <section class="section">
    <div class="container">
      <nav class="header-nav">
        <a href="#" >
          <svg class="header-logo-icon">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="header-nav-list">
          <li><a href="#">HOME</a></li>
          <li class="header-shop">
            <a href="./shopping-list.html">
                SHOPPING LIST
                <svg class="header-logo-shop">
                    <use href="./images/icons.svg#icon-cart"></use>
                </svg>
            </a>
          </li>
        </ul>
        <div class="header-checkbox" id="dark-mode-toggle">
            <input type="checkbox">
        </div>
        <svg class="header-open-menu-icon">
            <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </nav>
    </div>
  </section>