<div class="container">
  <nav class="header-nav">
    <a aria-label="Go to main page" href="./index.html" class="header-logo">
      <svg class="header-logo-icon">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <svg class="header-logo-icon-name">
        <use href="./images/icons.svg#icon-bookshelf"></use>
      </svg>
    </a>

    <ul class="header-nav-list">
      <li class="header-tab-active">
        <a aria-label="Go to main page" href="./index.html">HOME</a>
      </li>
      <li>
        <a
          aria-label="Go to shopping list"
          class="header-shop"
          href="./shopping-list.html"
        >
          SHOPPING LIST
          <svg class="header-logo-shop">
            <use href="./images/icons.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
    <form class="header-checkbox" id="dark-mode-toggle">
      <input id="theme-switcher" type="checkbox" />
      <label for="theme-switcher"></label>
    </form>
    <button
      type="button"
      class="header-mobile-menu-open"
      aria-label="Open mobile menu"
      id="header-data-modal-open"
    >
      <svg class="header-open-menu-icon">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <button
      type="button"
      class="header-button-sign-up"
      aria-label="Registration on the site"
    >
      Sign up
      <svg class="header-button-icon-sign-up">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </nav>
</div>

<div class="backdrop is-hidden" id="header-data-modal">
  <div class="modal">
    <section class="header-section-modal">
      <div class="container">
        <nav class="header-nav">
          <a
            aria-label="Go to main page"
            href="./index.html"
            class="header-logo"
          >
            <svg class="header-logo-icon">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
            <svg class="header-logo-icon-name">
              <use href="./images/icons.svg#icon-bookshelf"></use>
            </svg>
          </a>
          <form class="header-checkbox" id="dark-mode-toggle">
            <input id="theme-switcher-in-modal" type="checkbox" />
            <label for="theme-switcher-in-modal"></label>
          </form>
          <button
            type="button"
            class="modal-close-btn"
            id="header-data-modal-close"
            aria-label="Close mobile menu"
          >
            <svg class="close-btn">
              <use href="./images/icons.svg#icon-close"></use>
            </svg>
          </button>
        </nav>
      </div>
    </section>
    <ul class="header-nav-list-modal">
      <li class="header-home-active-modal">
        <a aria-label="Go to main page" href="./index.html">HOME</a>
      </li>
      <li class="header-shop-modal">
        <a aria-label="Go to shopping list" href="./shopping-list.html">
          SHOPPING LIST
          <svg class="header-logo-shop-modal">
            <use href="./images/icons.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="header-button-sign-up-modal"
      aria-label="Registration on the site"
    >
      Sign up
      <svg class="header-button-icon-sign-up-modal">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
