  <section class="section">
    <div class="container">
      <nav class="header-nav">
        <!-- <a href="#" class="header-logo">
          <svg>
            <use href="#"></use>
          </svg>
        </a> -->

        <ul class="header-nav-list">
          <li><a href="#">HOME</a></li>
          <li class="header-shop">
            <a href="./shopping-list.html">
                SHOPPING LIST
                <svg class="header-logo-icon">
                    <use href="./images/icons.svg#icon-cart"></use>
                </svg>
            </a>
          </li>
        </ul>
        <div class="header-checkbox">
            <input type="checkbox">
        </div>
        <svg class="header-open-menu-icon">
            <use href="./images/icons.svg#icon-cart"></use>
        </svg>
      </nav>
    </div>
  </section>