<div class="backdrop is-hidden" id="header-data-modal">
  <div class="modal">
    <div class="container header-container-modal">
      <ul class="header-nav-list-modal">
        <li class="header-home-modal header-active-modal">
          <a aria-label="Go to main page" href="./index.html">HOME</a>
        </li>
        <li class="header-shop-modal">
          <a aria-label="Go to shopping list" href="./shopping-list.html">
            SHOPPING LIST
            <svg class="header-logo-shop-modal">
              <use href="./images/icons.svg#icon-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button
        type="button"
        class="header-button-sign-up-modal"
        aria-label="Registration on the site"
      >
        Sign up
        <svg class="header-button-icon-sign-up-modal">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
