
    <!-- Modal Window -->
    <div class="backdrop-book is-hidden" data-modal-book>
      <div class="modal-book">
        <button class="modal-book-close" type="button" data-modal-book-close>
          <svg class="modal-book-close-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <img class="modal-book-img" src="#" alt="HELLO BEAUTIFUL" width="287" height="408" />
        <h2 class="modal-book-name">HELLO BEAUTIFUL</h2>
        <h3 class="modal-book-author">Ann Napolitano</h3>
        <p class="modal-description-book">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
        <ul class="trade-list">
          <li class="trade-item">
            <a href="#">
              <img
                src="./images/amazon.png"
                alt="amazon"
                width="62"
                height="19"
              />
              <!-- <svg class="trade-icon" width="62" height="19">
                <use href="./images/icons.svg#"></use>
              </svg> -->
            </a>
          </li>
          <li class="trade-item">
            <a href="#">
              <!-- <svg class="trade-icon" width="33" height="32"></svg> -->
              <img
                src="./images/apple.png"
                alt="apple"
                width="33"
                height="32"
              />
            </a>
          </li>
          <li class="trade-item">
            <a href="#">
              <img src="./images/book.png" alt="book" width="38" height="36" />
              <!-- <svg class="trade-icon" width="38" height="36"></svg> -->
            </a>
          </li>
        </ul>
        <div class="btn-box">
          <button class="btn-add-shopping-list" type="button" data-modal-add>
            ADD TO SHOPPING LIST
          </button>
        </div>
      </div>
    </div>
  
