<section class="support-section">
   
        <div class="support-container">
            <div class="support-title-container">
                <h2 class="suport-title">Support Ukraine</h2>
                <svg class="support-ukraine-svg">
                    <use href="./images/icons.svg#icon-ukraine"></use>>
                </svg>
            </div>
            <div class="slider">

            </div>
            <div class="support-slider-btn">
                <svg class="support-slider-svg">
                    <use href="./images/icons.svg#icon-arrow-down"></use>>
                </svg>
            </div>
        </div>
    
</section>
