.section {
    padding: 40px 0px;
}
.section-book-category {
    display: flex;
    flex-direction: column;
}
.main-category-text {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--bcg-black);
    margin-bottom: 40px;
}
.main-category-secondary-text {
    color: var(--brand-color-lilla);
}
// **BOOK INSIDES
.book-ctegory-list-card {
    display: flex;
    flex-direction: column;
}
.book-category-list-category-text {
    color: var(--color-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}

.book-category-list-img {
    width: 335px;
    height: 485px;
    border-radius: 8px;
    background: url(#), lightgray -4.635px -16px / 102.522% 106.839% no-repeat;
    margin: 18px 0px 14px 0px;
}

.book-category-list-category-book-name {
    color: var(--bcg-black);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.book-category-list-book-author {
    color: var(--color-gray);
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.1;
}
// **

//** Button
.button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 8px;
}

.book-category-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--brand-color-lilla);
    padding: 14px 28px;
    border-radius: 40px;
    border: 2px solid var(--brand-color-lilla);
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.book-category-btn:hover,
.book-category-btn:active,
.book-category-btn:focus {
    color: var(--bcg-white);
    background-color: var(--brand-color-lilla);
}
// **

// **HOVER FOR CARD
.book-category-list-card:hover {
    cursor: pointer;
}

.book-category-hover-effect-container {
    position: relative;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 250ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 52px;
    border-radius: 0px 0px 8px 8px;
    background-color: #eac645;
}
.book-category-hover-effect-container:hover .overlay {
    height: 70px;
}
