.filter-section {
  max-width: 335px;
  max-height: 228px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .filter-section {
    width: 309px;
    height: 472px;
  }
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.darkmode .filter-section {
  background-color: var(--bcg-black-main);
}

.darkmode .filter-section::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bcg-black-main);
}

.darkmode .filter-section::-webkit-scrollbar-thumb {
  background-color: var(--bcg-black);
  border-radius: 12px;
  height: 167px;
}
.filter-section::-webkit-scrollbar {
  width: 8px;
  border: none;
  background-color: var(--bcg-white-main);
}
.filter-section::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
  height: 167px;
}

.filter-title-text {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 32px;
  color: var(--bcg-black);
}

.active-filter {
  color: var(--brand-color-lilla);
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  transition: color 250ms ease-in-out;
}
.darkmode .active-filter {
  color: var(--brand-color-yellow);
}
.darkmode .filter-title-text {
  color: var(--bcg-white);
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.category-filter-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: var(--bcg-black);
  white-space: nowrap;
  cursor: pointer;
  text-transform: none;
}
@media screen and (min-width: 768px) {
  .category-filter-link {
    font-size: 14px;
  }
}
.category-filter-link:hover,
.category-filter-link.active,
.category-filter-link:focus {
  color: var(--brand-color-lilla);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  transition: text-transform 250ms ease-in-out;
}
.darkmode .category-filter-link:hover,
.darkmode .category-filter-link.active,
.darkmode .category-filter-link:focus {
  color: var(--brand-color-yellow);
}
.darkmode .category-filter-link {
  color: var(--bcg-white);
}

@media screen and (min-width: 768px) {
  .filter-title-text {
    font-size: 14px;
    line-height: 1.3;
    width: 143px;
    // height: 24px;
  }
  .category-filter-link {
    font-size: 14px;
    line-height: 1.3;
  }
  .filter-section {
    max-width: 356px;
    max-height: 472px;
  }
}
@media screen and (min-width: 1440px) {
  .filter-title-text {
    font-size: 16px;
  }
  .category-filter-link {
    font-size: 16px;
  }
}
