// ------------------HEADER-POSITION----------------
.header-section {
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1.6px solid var(--bcg-black);
  border-radius: 0 0 8px 8px;

  position: relative;
  z-index: 999;
  background-color: var(--bcg-white);

  transition: background-color 0.25s, border-color 0.25s;
}

.darkmode .header-section {
  border-color: var(--bcg-white);
  background-color: var(--bcg-black);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 8px;
}

.header-logo-icon {
  width: 24px;
  height: 24px;
}

.header-logo-icon-name {
  width: 77px;
  height: 13px;
  transition: fill 0.25s;
}
.darkmode .header-logo-icon-name {
  fill: var(--bcg-white);
}
.header-nav-list {
  display: none;
}

// ---------------CHECKBOX-----------------

.header-checkbox {
  display: flex;
  text-align: center;
  margin-right: 14px;
}

input[type='checkbox'] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  background: linear-gradient(#4f2ee8 0%, #dcdcdc 100%);
  border-radius: 20px;
  transition: transform 0.25s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input:checked[type='checkbox'] {
  background: linear-gradient(#4f2ee8 0%, #686868);
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  top: 2px;
  left: 2px;
  background-color: var(--bcg-white);
  transition: 0.25s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input:checked[type='checkbox']::before {
  transform: translateX(20px);
}

// ---------------------OPEN-MENU------------------

.header-open-menu-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  stroke: var(--bcg-black);
}

.darkmode .header-open-menu-icon {
  stroke: var(--bcg-white);
}

.header-open-menu-icon:hover {
  stroke: var(--brand-color-lilla);
}

.header-mobile-menu-open {
  background: transparent;
  border: none;
  padding: 0;
  width: 28px;
  height: 28px;
}

/* ------------BACKDROP------- */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
  transition-duration: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5);
}

// ----------------MODAL------------------

.modal {
  width: 100%;
  height: 100%;
  background-image: url('/src/images/mobile/header-modal-image.png'),
    radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.modal-close-btn {
  width: 28px;
  height: 28px;
  border: #0000001a;
  border-radius: 50%;
  padding: 0;

  background-color: transparent;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--brand-color-lilla);
}

.close-btn {
  width: 28px;
  height: 28px;
  cursor: pointer;
  stroke: var(--bcg-black);
}

.darkmode .close-btn {
  stroke: var(--bcg-white);
}

.header-nav-list-modal {
  margin: 0 auto;

  width: 118px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  color: var(--bcg-white);
}

.header-shop-modal {
  width: 156px;
  position: relative;
  display: flex;
  align-items: center;
}

.header-active-modal {
  border-radius: 36px;
  padding: 8px 16px;
  background-color: var(--brand-color-yellow);
  font-weight: 700;

  color: var(--bcg-black);
}

.header-logo-shop-modal {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
  fill: currentColor;
}

.header-button-sign-up-modal {
  position: absolute;
  left: 20px;
  bottom: 20px;

  border-radius: 18px;
  border: 1.5px solid var(--bcg-black);
  cursor: pointer;
  color: var(--bcg-black);
  background-color: var(--bcg-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;

  padding: 14px;

  width: 118px;
  display: flex;
  justify-content: space-between;
}

.header-button-icon-sign-up-modal {
  width: 20px;
  height: 20px;
}

.header-container-modal {
  position: relative;
  height: 100%;

  padding-top: 247px;
}

// ----------------BUTTON_SIGN-UP--------------

.header-button-sign-up {
  display: none;
}

// ---------------MEDIA----------------
@media screen and (min-width: 768px) {
  .header-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-logo {
    flex-grow: 0;
    margin-right: 40px;
  }

  .header-nav {
    display: flex;
    justify-content: unset;
  }

  .header-nav-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;

    display: flex;
    align-items: center;
    gap: 24px;
    padding: 19px 0 19px;
    flex-grow: 1;
  }

  .header-mobile-menu-open {
    display: none;
  }

  .header-logo-shop {
    width: 20px;
    height: 20px;
  }

  .header-shop {
    display: flex;
    align-items: center;
    gap: 8px;
    fill: currentColor;
  }

  .header-tab-active {
    font-weight: 700;
    border-radius: 36px;
    padding: 7px 16px;
    background-color: var(--brand-color-yellow);
    height: 34px;
    color: var(--bcg-black);
  }

  .header-checkbox {
    display: flex;
    text-align: center;
    margin-right: 24px;
  }

  .backdrop {
    display: none;
  }

  // ----------------BUTTON_LOG-OUT--------------

  .header-button-sign-up {
    position: relative;
    border-radius: 18px;
    border: 1.5px solid var(--bcg-black);
    cursor: pointer;
    color: var(--bcg-white);
    background-color: var(--brand-color-lilla);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;

    padding: 14px;

    width: 184px;
    display: flex;
    justify-content: space-between;
  }

  .header-button-icon-sign-up {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .header-logo {
    margin-right: 76px;
  }
}
