 .scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s ease-in-out;
}

.scrollToTopButton:hover {
  opacity: 0.7;
}