.side-bar.shopping-list-sidebar {
  display: none;
}

@media (min-width: 1440px) {
  .side-bar.shopping-list-sidebar {
    display: block;
  }
}

.shopping-list-section {
  flex-grow: 1;
}

.shopping-list-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .shopping-list-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
}

.shopping-list-brand {
  color: var(--brand-color-lilla);
}

.support-section {
  margin-top: 40px;
}

.shopping-emty-message {
  text-align: center;
  width: 244px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 14px;
  color: var(--color-shop-empty-msg);
}

@media (min-width: 768px) {
  .shopping-emty-message {
    width: 349px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.shopping-emty-img {
  margin: 0 auto;
}

.shopping-list-item {
  position: relative;
  display: flex;
  padding: 14px;
  gap: 14px;
  margin-bottom: 20px;
  border: 2px solid var(--color-border-shop-card);
  border-radius: 16px;
  background-color: var(--bcg-white);
}

.shopping-list-item:first-child {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .shopping-list-item {
    padding: 24px;
  }
}

.shopping-item-img {
  min-width: 100px;
  height: 142px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .shopping-item-img {
    min-width: 116px;
    height: 165px;
  }
}

.shopping-item-descr {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 30px;
  letter-spacing: -0.56px;
}

@media (min-width: 768px) {
  .shopping-item-descr {
    height: 53px;
    margin-bottom: 48px;
  }
}

.shopping-item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-overflow: ellipsis;
  width: 144px;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .shopping-item-title {
    width: 480px;
  }
}

.shopping-list-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
  color: var(--color-gray);
}

@media (min-width: 768px) {
  .shopping-list-name {
    margin-bottom: 14px;
  }
}

.shopping-item-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--brand-color-lilla);
}

@media (min-width: 768px) {
  .shopping-item-btn {
    right: 24px;
    top: 24px;
    width: 34px;
    height: 34px;
  }
}

.shopping-item-author {
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
  letter-spacing: -0.48px;
  color: var(--color-gray);
}

.is-hidden {
  display: none;
}
