.support-section {
  width: 100%;
}

.support-container {
  width: 100%;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 10px 10px 0px #f5f5f71a;
  border-radius: 16px;
  padding: 24px 58px 20px 40px;
}

@media screen and (min-width: 768px) {
  .support-container {
    padding: 24px 58px 14px 40px;
  }
}

.suport-title {
  font-family: 'DM Sans';
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--bcg-white);
}

.support-title-container {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.support-ukraine-svg {
  width: 20px;
  height: 32px;
}

.support-link {
  display: flex;
  align-items: center;
  height: 32px;
}

.support-number {
  margin-right: 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--bcg-white);
}

.support-img {
  display: block;
  max-width: 160px;
  max-height: 32px;
  filter: grayscale(100%) brightness(0) invert(100%);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.support-link:hover .support__img,
.support-link:focus .support__img {
  filter: none;
  transform-origin: center;
}

.next {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 50%;
  background-color: var(--bcg-white);
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.next:hover .icon-down {
  fill: var(--color-border-shop-card);
}

.icon-down {
  stroke: var(--color-border-shop-card);
  width: 20px;
  height: 20px;
  transform: translateY(2px);
  fill: var(--bcg-white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper {
  z-index: 0;
  width: 100%;
  height: 188px;
  margin-bottom: 16px;
}

.swiper-slide {
  height: 32px;
}

@media screen and (min-width: 768px) {
  .swiper {
    margin-bottom: 32px;
    height: 292px;
  }

  .next {
    width: 38px;
    height: 38px;
  }

  .icon-down {
    width: 22px;
    height: 22px;
  }
}

#swiper-z-index {
  z-index: 0;
}
